body {
    margin0;  
}

.bg-image{
    url("crustcrust.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-height: 300000;
    background-width: cover;
    position: relative;
}

.float {
    position: fixed;
    right: 0;
    top: 0;
}

