/* body {
    height: 30000px;
    width: cover;
    background: url(crustcrust.jpg);
} */

html { 
  background: url(crustcrust.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

