body {
    margin: 0;  
    height: 30000px
}

.bg-image{
    background-image: url("crustcrust.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-height: 30000px;
    position: relative;
}

.float {
    position: fixed;
    right: 0;
    top: 0;
}

